{
    "env": {
        "node": true,
        "commonjs": true,
        "es2021": true
    },
    "rules": {
        "strict": "error",
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "single"
        ]
    }
}